.button {
  display: block;
  background-color: var(--primary-color);
  border-radius: 7px;
  width: 100%;
  margin-top: 1rem;
  max-width: 20rem;
  padding: 1.125rem;
  box-sizing: border-box;
  color: var(--contrast-ligth-color);
  font-size: var(--font-size-button);
  align-self: center;
  text-align: center;
}
.button2 {
  display: block;
  background-color: var(--primary-color);
  border-radius: 7px;
  width: 100%;
  margin-top: 1rem;
  max-width: 20rem;
  padding: 1.125rem;
  box-sizing: border-box;
  color: var(--contrast-ligth-color);
  font-size: var(--font-size-button);
  align-self: center;
  text-align: center;
}

.simple-button {
  border: none;
  background-color: unset;
}
.modal__button--confirm:hover {
  color: green;
}

.simple-button--add {
  color: var(--primary-color);
}

.simple-button--delete {
  color: var(--info-color);
}
.lock {
  color: red;
}

.simple-button--delete{
  color: var(--info-color);
}
.simple-button--delete:hover {
  cursor: pointer;
}

.simple-button--edit {
  color: var(--sucess-color);
  margin-right: 1.5rem;
}
.simple-button--edit2 {
  color: rgb(206, 146, 146)
}
